
    /***** h1's paragraphs *****/
/* Body */
body {
    margin: 0;
    padding:0; 
    
}

h1 {
    margin:0;
    position: relative;
    animation-name: textmove;
    animation-duration: 4s;  
    animation-fill-mode: both;
    text-align: center;
    font-family: Quicksand, bold;
    color: purple;
    text-shadow: 4px 4px 3px rgb(255, 255, 255);
    letter-spacing: 4px;
    font-size: 60px;
}

@keyframes textmove {
    from {left: 300px; }
    to {left: 0px;}
  }




h2 {
    text-align: center;
    color:rgb(236, 86, 188);
    font-family:Quicksand;
    border-bottom: solid white 3px;
    font-size:25px;
}



/* Paragraph elements */
p {
    font-family: Quicksand, bold;
    text-align: justify; 
    letter-spacing: 2px; 
    font-size: 15px;
    font-weight: 300;
    animation-name: example;
    animation-duration: 8s;
}

@keyframes example {
    0% {color: rgb(255, 255, 255);}
  25%  {color: rgb(41, 0, 94);}
  50%  {color: rgb(255, 0, 179);}
  100% {color: rgb(255, 255, 255);}
  }

.p-1 {
    border-bottom: solid white 5px;
    padding-left:40px;
   
}


.whitet{
    color:white;
}
.test{
  width: 100px;
  height: 5px;
  position: relative;
  animation: myline 6s infinite;
    
}

@keyframes myline {
    0%   {background: rgb(169, 8, 238); left: 0px; }
    25%  {background: rgb(255, 0, 136); left: 225px; }
    75%  {background: rgb(255, 255, 255); left: 0px; } 
    100% {background: rgb(217, 0, 255); left: 0px; }
  }


.center{
    text-align: center;
    font-size:15px;
}

.mytitle {
    margin:0;
    border: solid purple 3px;
    border-style:double;
   
}



.p-about {
    padding-top:-30px;
    font-family: Quicksand;
    font-weight: 400;
    letter-spacing: 3px;
    padding-left:190px;
}



/* ALL HOVERS FOR P AND TITLES*/

h1:hover {
    color:#de80ba;
}


h2:hover {
    color:#590274;

}


.center:hover {
    transition: transform 2s; 
    transform: scale(1.1); 
}
.change:hover {
    color:#fd086e;
    font-size: 20px;
    
    
}
/* Anchor elements */
a {
    color: blue; 
}


/* Image elements************************************* */
img {
    
    max-width: 100%; 
    height: 150px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    margin-top:50px;
    border-radius: 9px;
}

.comp {
    border-radius: 20px;
    border-radius:30%;
    height: 190px;
    position:relative;
    top:-250px;
    left:-350px;
    
}




.code {
    border-radius: 20px;
    animation: grow 5s infinite;
   
}
@keyframes grow {
    20% { transform: scale(1.1); }
    40% { transform: scale(1); }
  }

.code:hover {
    opacity: 0.7;

}


.git {
    border-radius: 20px;
}

.git:hover{
    filter: invert(100%); 
}

.gittest {
    height:80px;
    width: 100px;
    border-radius: 9px;
    position: relative;
    animation: gitt 8s infinite;
}
@keyframes gitt {
    0%   { left: -150px; }
    25%  { left: 180px; }
    75%  { left: 380px;  }
    100% { left: -180px; }
}

.contrast{
    border-radius: 20px;
    margin-bottom: 20px;
    animation: grow 5s infinite;
  
}

@keyframes grow {
    40% { transform: scale(1.5); }
    60% { transform: scale(1); }
  }



.top-img {
    background-image: url('../images/try-10.png');
    height: 600px;
    background-repeat: no-repeat;
    z-index:-1;
    background-position: center;
    background-size: cover;
     
  
}

.top-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

.mid-img {
    background-image: url('../images/purple-lines.webp');
    height:500px;
    background-repeat: no-repeat;
    z-index:-1;
    background-position: center;
    background-size:cover;
}

.three-img {
    background-image: url('../images/pink-bubbles.webp');
    height:500px;
    background-image: no-repeat;
    z-index:-1;
    background-position: center;
    background-size:cover;
}

.bottom-img {
    background-image: url('../images/purple-bubbles.jpg');
    background-repeat: no-repeat;
    z-index:-1;
    background-position: center;
    background-size:cover;
}

    

.comp:hover {
    transition: transform 1s; 
	transform: scale(1.1); 
    filter:contrast(2);
    
}

.contrast:hover {
    filter: invert(100%);  
}

/* Styling for footer element */
footer {
    padding: 2%; 
    background-color: rgb(244, 196, 249);
    margin: 0;
    
}

.bottom p {
    margin:0;
    padding:0;
    
}


/***** NAVBAR  *****/


.navbar {
    overflow: hidden; 
    background-color: transparent; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    font-family: cursive;
    z-index: 1; 
    -webkit-animation: moveNav 5s; 
    animation: moveNav 3s; 
}
  


@keyframes moveNav {
    from {left: 100vw;} 
    to { left: 0vw;} 
}


/* Navbar links */
.navbar a {
    float: left;
    display: block; 
    color: rgb(241, 224, 237); 
    padding: 14px 16px; 
    text-decoration: none;
    font-family: Verdana, Helvetica; 
    font-size: 20px; 
    text-align: center; 
    position: relative; 
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s; 
}


/* NAVBAR HOVER */
.navbar a:hover {
    background-color: #de80baad; 
    color: rgb(245, 10, 131); 
    font-weight: bold; 
}

/* Navbar home button */
.navbar a.active { 
    background-color: rgba(196, 87, 161, 0.503);
    border-radius: 3px;
}



/*TABLE STYLING***/
* { 
    box-sizing: border-box; 
} 

.Column_1 {
    float: left;
    width: 50%; 
    padding: 10px;
    padding-top: 3%; 
    height: 300px; 
    background-color: #f2f2f2; 
}



.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: #ffffff;
}


.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}


.Row:after {
	content: ""; 
	display: table; 
	clear: both; 
}




/*LIGHTBOX SECTION*/
.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.53);
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #0700005c;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
    border-radius: 9px;
    background-color: white;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgb(143, 132, 132);
  }
  
  /* Number text (1/4 etc) */
  .numbertext {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
 
  .caption-container {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 2px 16px;
    color: rgb(255, 255, 255);
  }
  
  .demo {
    opacity: 0.6;
    
   
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.916), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.5;
  }

  .bl {
    background-image: url('../images/heart.gif');
    background-color: #5f077a;
    height:300px;
    background-repeat: no-repeat;
    z-index:-1;
    background-position: center;
    background-size:cover;
   
    margin-top: -20px;
  }

  
  
  .popup {
    margin-left:800px;
    margin-top:-400px;
    text-decoration: underline;
    color:#40013e;
    font-size: 17px;
    background-color: rgba(255, 208, 0, 0.434);
    border-radius: 5px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(80, 40, 97);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  
/***** Contact Form Styling *****/

.fade-in-text {

    animation: fadeIn 5s;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.Pop_Up_Button {
    position: fixed; 
    bottom: 1.75vw; 
    right: 1.75vw; 
    width: 25vw; 
    background-color: rgba(105, 8, 161, 0.458); 
    color: black; 
    border: solid black; 
    cursor: pointer;
    animation: flicker 1.5s infinite alternate; 
}
:root {
   
    font-size: 10px;   
    
    
    --neon-text-color: rgb(242, 255, 0);
    --neon-border-color: rgb(247, 0, 255);
  }

@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}





.form-popup {
    z-index: 8; 
    display: none; 
    position: fixed; 
    bottom: .5vw; 
    right: .5vw; 
    
}


.form-container {
    max-width: 35vw; 
    padding: 1vw; 
    background-color: rgba(45, 0, 113, 0.758); 
    border-radius: 9px;
}


.form-container input[type=text] {
    width: 100%; 
    padding: .93vw; 
    margin: .6vw 0 .6vw 0; 
    border: none; 
    background: rgb(241, 239, 239); 
    font-size: 1vw; 
}


button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw; 
    font-size: 1.5vw; 
    font-weight: bold; 
    padding: 1.5vw; 
    cursor: pointer; 
    width: 100%; 
    height: auto; 
}


button:hover, .form-container .btn:hover {
    color: white; 
    background-color: black; 
    transition-duration: 1s; 
    -webkit-transition-duration: 1s; /* For Safari 4.0-8.0 */
    border-color: rgb(255, 255, 255); 
}


.form-container .btn {
    background-color: white; 
    color: black;
    border-color: black;
    margin-bottom: 1vh; 
}


.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}


.form-container .cancel:hover {
    color: white;
    background-color: rgb(0, 0, 0);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}


  
